{% extends 'base/base.html' %}

{% block content %}
<div class="container container-xl mx-auto mt-3 mb-3 border shadow rounded bg-opacity-50 m-2 p-2">
    <div class="row">
    <div class="col-3">
    <span class="text-primary">
        {{ title_section }}
    </span>
</div>
<div class="col-4 text-center">
    {% if action %}
    <div class="{% if action == 'delete' or action == 'no_delete'%} bg-danger {% else %} bg-peisol-secondary {% endif %} bg-gradient p-2 rounded">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
            <path d="M9 12l2 2l4 -4" />
        </svg>
        {{ message }}
    </div>
    {% endif %}
</div>
<div class="col-5 d-flex align-items-center justify-content-end gap-3">
    {% if not action %}
    <a href="{% url 'resource_detail' equipment.id  %}?action=delete" class="btn btn-sm btn-default">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 7l16 0" />
            <path d="M10 11l0 6" />
            <path d="M14 11l0 6" />
            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
          </svg>
        Eliminar
    </a>
    {% endif %}
    <a href="{% url 'resource_update' equipment.id %}" class="btn btn-sm btn-default">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
            <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
            <path d="M16 5l3 3" />
          </svg>
        Editar
    </a>
    <a href="{% url 'resource_create' %}" class="btn btn-sm btn-default">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 5l0 14" />
            <path d="M5 12l14 0" />
          </svg>
        Agregar
    </a>
    <a href="{% url 'resource_list' %}" class="btn btn-sm btn-default">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M5 12l14 0" />
            <path d="M5 12l6 6" />
            <path d="M5 12l6 -6" />
          </svg>
        Volver
    </a>
</div>
</div>
</div>
<div class="container mt-2">
    <!-- Información del Equipo -->
    <div class="card mb-2">
        <div class="card-header p-1 bg-dark bg-gradient bg-opacity-75 text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                <path d="M12 9h.01" />
                <path d="M11 12h1v4h1" />
              </svg>
            Información del Equipo
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Código del Equipo:</span>
                    <span class="px-3 border">{{ equipment.code }} {% if equipment.is_active %} <span class="badge text-bg-success">Equipo Activo</span> {% else %}  <span class="badge text-bg-danger">Equipo Inactivo</span> {% endif %} </span>
                </div>
                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Nombre del Equipo:</span>
                    <span class="px-3 border">{{ equipment.name }}</span>
                </div>
                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Marca:</span>
                    <span class="px-3 border">{{ equipment.brand }}</span>
                </div>

                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Modelo:</span>
                    <span class="px-3 border">
                        {% if equipment.model %} 
                            {{ equipment.model }}
                            {% else %}
                            No Registra
                        {% endif %}
                    </span>
                </div>

                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Fecha de Compra:</span>
                    <span class="px-3 border">
                        {% if equipment.date_purchase %}
                          {{ equipment.date_purchase }} 
                        {% else %}
                            No Registra
                        {% endif %}
                    </span>
                </div>

                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Altura (cm):</span>
                    <span class="px-3 border">
                        {% if equipment.height %}
                          {{ equipment.height }} 
                        {% else %}
                            No Registra
                        {% endif %}
                    </span>
                </div>

                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Ancho (cm):</span>
                    <span class="px-3 border">
                        {% if equipment.width %}
                          {{ equipment.width }} 
                        {% else %}
                            No Registra
                        {% endif %}
                    </span>
                </div>

                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Profundidad (cm):</span>
                    <span class="px-3 border">
                        {% if equipment.width %}
                        {{ equipment.width }} 
                        {% else %}
                            No Registra
                        {% endif %}
                    </span>
                </div>

                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Peso (kg):</span>
                    <span class="px-3 border">
                        {% if equipment.width %}
                        {{ equipment.width }} 
                        {% else %}
                            No Registra
                        {% endif %}
                    </span>
                </div>

                <div class="col-md-6 d-flex flex-column">
                    <span class="text-muted">Descripción:</span>
                    <span class="px-3 border">
                        {% if equipment.width %}
                        {{ equipment.width }} 
                        {% else %}
                            No Registra
                        {% endif %}
                    </span>
                </div>
                <div class="col-md-6 d-flex flex-column">
                    <span class="text-muted">Notas:</span>
                    <span class="px-3 border">
                        {% if equipment.notes %}
                        {{ equipment.notes }} 
                        {% else %}
                            No Registra
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Información de Ubicación y Estado -->
    <div class="card mb-5">
        <div class="card-header p-1 bg-secondary bg-gradient bg-opacity-75 text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin-pin" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                <path d="M12.783 21.326a2 2 0 0 1 -2.196 -.426l-4.244 -4.243a8 8 0 1 1 13.657 -5.62" />
                <path d="M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z" />
                <path d="M19 18v.01" />
              </svg>
            Ubicación y Estado
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Estado:</span>
                    <span class="px-3 border">{{ equipment.get_status_display }}</span>
                </div>

                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Activo:</span>
                    <span class="px-3 border">{{ equipment.is_active|yesno:"Sí,No" }}</span>
                </div>

                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Ubicación Actual:</span>
                    <span class="px-3 border">
                        {% if equipment.bg_current_location  %}
                        {{ equipment.bg_current_location }}
                        {% else %}
                        No Registra
                        {% endif %}
                    </span>
                </div>

                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Proyecto Actual:</span>
                    <span class="px-3 border">
                        {% if equipment.bg_current_project  %}
                            {{ equipment.bg_current_project }}
                        {% else %}
                            No Registra
                        {% endif %}
                    </span>
                </div>
                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Fecha de Compromiso:</span>
                    <span class="px-3 border">
                        {% if equipment.bg_date_commitment %} 
                        {{ equipment.bg_date_commitment }} 
                        {% else %}
                        No Registra
                        {% endif %}
                    </span>
                </div>

                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Fecha de Liberación:</span>
                    <span class="px-3 border">
                        {% if equipment.bg_date_free %}
                        {{ equipment.bg_date_free }}
                        {% else %}
                        No Registra
                        {% endif %}
                    </span>
                </div>
                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Fecha de Creación:</span>
                    <span class="px-3 border">{{ equipment.created_at }}</span>
                </div>
                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Creado Por:</span>
                    <span class="px-3 border">
                        {% if equipment.get_create_user %}
                            {{ equipment.get_create_user }}
                        {% else %}
                            SYSTEM
                        {% endif %}
                    </span>
                </div>
                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Fecha de Actualización:</span>
                    <span class="px-3 border">{{ equipment.updated_at }}</span>
                </div>
                <div class="col-md-4 d-flex flex-column p-1">
                    <span class="text-muted">Actualización:</span>
                    <span class="px-3 border">
                        {% if equipment.get_update_user %}
                            {{ equipment.get_update_user }}
                        {% else %}
                            SYSTEM
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
    {% if action == 'delete' %}
    <div class="row mb-3">
        <a href="{% url 'resource_delete' request.resolver_match.kwargs.pk  %}" class="btn btn-sm btn-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-triangle" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 9v4" />
                <path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" />
                <path d="M12 16h.01" />
              </svg>
            Confirmar Eliminación
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}
