{% extends 'base/base.html' %}

{% block content %}
<div class="container container-xl mx-auto mt-3 mb-3 border shadow rounded bg-opacity-50 m-2 p-2">
    <div class="row">
        <div class="col-6">
            <span class="text-primary">
                {{ title_section }}
            </span>
        </div>
        <div class="col-6 d-flex justify-content-end gap-3">
            {%  if request.resolver_match.url_name  != 'resource_create' %}    
            <a href="{% url 'resource_detail' request.resolver_match.kwargs.pk %}?action=delete" class="btn btn-sm btn-default">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 7l16 0" />
                    <path d="M10 11l0 6" />
                    <path d="M14 11l0 6" />
                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                </svg>
                Eliminar Equipo
            </a>
            <a href="{{ equipment.pk }} " class="btn btn-sm btn-default">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24V0H0z" fill="none"/>
                    <path d="M5 12l14 0" />
                    <path d="M5 12l6 6" />
                    <path d="M5 12l6 -6" />
                </svg>
                Volver Ficha
            </a>
            {% endif %}
            <a href="{% url 'resource_list' %}" class="btn btn-sm btn-default">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ban" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                    <path d="M5.7 5.7l12.6 12.6" />
                  </svg>
                Cancelar
            </a>
        </div>
    </div>
</div>

<div class="container mt-2">
    <!-- Información del Equipo -->
    <div class="card mb-2">
        <div class="card-header p-1 bg-secondary bg-gradient bg-opacity-75 text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24V0H0z" fill="none"/>
                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                <path d="M12 9h.01" />
                <path d="M11 12h1v4h1" />
            </svg>
            Información del Equipo
        </div>
        <div class="card-body">
          <form action="" method="post">
            {{ form.errors }}
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="code" class="text-muted">Tipo:</label>
                    {{ form.type }}
                </div>
                <div class="col-md-4">
                    <label for="code" class="text-muted">Código:</label>
                    {{ form.code }}
                </div>
                <div class="col-md-4">
                    <label for="name" class="text-muted">Nombre:</label>
                    {{ form.name }}
                </div>
                <div class="col-md-4" id="brand">
                    <label for="brand" class="text-muted">Marca:</label>
                    {{ form.brand }}
                </div>
                <div class="col-md-4" id="model">
                    <label for="model" class="text-muted">Modelo:</label>
                    {{ form.model }}
                </div>
                <div class="col-md-4" id="date_purchase">
                    <label for="date_purchase" class="text-muted">Fecha de Compra:</label>
                    {{ form.date_purchase }}
                </div>
                <div class="col-md-4" id="height">
                    <label for="height" class="text-muted">Altura (cm):</label>
                    {{ form.height }}
                </div>

                <div class="col-md-4" id="width">
                    <label for="width" class="text-muted">Ancho (cm):</label>
                    {{ form.width }}
                </div>

                <div class="col-md-4" id="depth">
                    <label for="depth" class="text-muted">Profundidad (cm):</label>
                    {{ form.depth }}
                </div>
                <div class="col-md-4" id="weight">
                    <label for="weight" class="text-muted">Peso (kg):</label>
                    {{ form.weight }}
                </div>
                <div class="row">
                  <div class="col-md-4">
                      <label for="status" class="text-muted">Estado:</label>
                      {{ form.status }}
                  </div>
                  <div class="col-md-2 d-flex align-items-center gap-3">
                      <label for="is_active" class="text-muted">Activo:</label>
                      <span>
                        {{ form.is_active }}
                      </span>
                  </div>
                <div class="col-md-6">
                    <label for="notes" class="text-muted">Notas:</label>
                    {{ form.notes }}
                </div>
            </div>
        </div>
        <div class="row bg-gray bg-gradient p-2 rounded border">
            <div class="col text-end">
              <button class="btn btn-sm btn-default">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" />
                  <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                  <path d="M14 4l0 4l-6 0l0 -4" />
                </svg>
                Guardar Nuevo
              </button>
            </div>
        </div>
      </form>
    </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function() {
     $('#id_type').change(function(){
        let option = $(this).val();
        if (option === 'EQUIPO'){
            $('#brand').fadeIn('slow');
            $('#model').fadeIn('slow');
            $('#date_purchase').fadeIn('slow');
            $('#height').fadeIn('slow');
            $('#width').fadeIn('slow');
            $('#depth').fadeIn('slow');
            $('#weight').fadeIn('slow');
        }else{
            $('#brand').fadeOut('slow');
            $('#model').fadeOut('slow');
            $('#date_purchase').fadeOut('slow');
            $('#height').fadeOut('slow');
            $('#width').fadeOut('slow');
            $('#depth').fadeOut('slow');
            $('#weight').fadeOut('slow');
        }

     });

    });
 
</script>
{% endblock %}
