<form method="POST" action="">
    {% csrf_token %}
    
    <div class="row">
      <!-- Columna 1 -->
      <div class="col-md-4">
        <div class="mb-3">
          <label for="id_business_tax_id" class="form-label">RUC</label>
          <input type="text" class="form-control form-control-sm" id="id_business_tax_id" name="business_tax_id" maxlength="15" required>
        </div>
        <div class="mb-3">
          <label for="id_name" class="form-label">Nombre</label>
          <input type="text" class="form-control form-control-sm" id="id_name" name="name" maxlength="255" required>
        </div>
        <div class="mb-3">
          <label for="id_email" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control form-control-sm" id="id_email" name="email" maxlength="255">
        </div>
      </div>
      <!-- Columna 2 -->
      <div class="col-md-4">
        <div class="mb-3">
          <label for="id_phone" class="form-label">Teléfono</label>
          <input type="text" class="form-control form-control-sm" id="id_phone" name="phone" maxlength="20">
        </div>
        <div class="mb-3">
          <label for="id_address" class="form-label">Dirección</label>
          <input type="text" class="form-control form-control-sm" id="id_address" name="address" maxlength="255" required>
        </div>
        <div class="mb-3">
          <label for="id_name_contact" class="form-label">Nombre de Contacto</label>
          <input type="text" class="form-control form-control-sm" id="id_name_contact" name="name_contact" maxlength="255">
        </div>
      </div>
  
      <!-- Columna 3 -->
      <div class="col-md-4">
        <div class="mb-3">
          <label for="id_authorized_tehcnicals" class="form-label">Técnicos Autorizados</label>
          <select multiple class="form-select form-control-sm" id="id_authorized_tehcnicals" name="authorized_tehcnicals">
            {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="id_authorized_vehicle" class="form-label">Vehículos Autorizados</label>
          <select multiple class="form-select form-control-sm" id="id_authorized_vehicle" name="authorized_vehicle">
            {% for vehicle in vehicles %}
            <option value="{{ vehicle.id }}">{{ vehicle.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  
    <!-- Línea divisoria entre el formulario y los botones -->
    <hr class="my-4">
  
    <div class="row mt-3">
      <div class="col text-center d-flex justify-content-between">
        <a href="#" class="btn btn-outline-secondary btn-sm">Cancelar</a>
        <button type="submit" class="btn btn-outline-success btn-sm">Guardar</button>
      </div>
    </div>
  </form>
  