{% extends 'base/base.html' %}

{% block content %}
<div class="container container-xl mx-auto mt-3 mb-3 border shadow rounded bg-opacity-50 m-2 p-2">
    <div class="row">
        <div class="col-6">
            <span class="text-primary">
                {{ title_section }}
            </span>
        </div>
        <div class="col-6 d-flex justify-content-end gap-3">
            {%  if request.resolver_match.url_name  != 'project_create' %}    
            <a href="{% url 'project_detail' request.resolver_match.kwargs.pk %}?action=delete" class="btn btn-sm btn-default">
                <!-- Ícono y texto para eliminar el proyecto -->
                Eliminar Proyecto
            </a>
            <a href="{% url 'project_detail' project.id %}" class="btn btn-sm btn-default">
                <!-- Ícono y texto para volver -->
                Volver Ficha
            </a>
            {% endif %}
            <a href="{% url 'project_list' %}" class="btn btn-sm btn-default">
                <!-- Ícono y texto para cancelar -->
                Cancelar
            </a>
        </div>
    </div>
</div>

<div class="container mt-2">
    <!-- Información del Proyecto -->
    <div class="card mb-2">
        <div class="card-header p-1 bg-secondary bg-gradient bg-opacity-75 text-white">
            <!-- Ícono de información -->
            Información del Proyecto
        </div>
        <div class="card-body">
          <form action="" method="post">
            {{ form.errors }}
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="internal_code" class="text-muted">Código Interno:</label>
                    {{ form.internal_code }}
                </div>
                <div class="col-md-4">
                    <label for="partner" class="text-muted">Cliente:</label>
                    {{ form.partner }}
                </div>
                <div class="col-md-4">
                    <label for="required_by" class="text-muted">Requerido por:</label>
                    {{ form.required_by }}
                </div>

                <div class="col-md-4">
                    <label for="autorized_by" class="text-muted">Autorizado por:</label>
                    {{ form.autorized_by }}
                </div>

                <div class="col-md-4">
                    <label for="project_name" class="text-muted">Nombre del Proyecto:</label>
                    {{ form.project_name }}
                </div>

                <div class="col-md-4">
                    <label for="place" class="text-muted">Lugar:</label>
                    {{ form.place }}
                </div>

                <div class="col-md-4">
                    <label for="contact_name" class="text-muted">Nombre de Contacto:</label>
                    {{ form.contact_name }}
                </div>

                <div class="col-md-4">
                    <label for="position_contact" class="text-muted">Cargo de Contacto:</label>
                    {{ form.position_contact }}
                </div>

                <div class="col-md-4">
                    <label for="phone_contact" class="text-muted">Teléfono de Contacto:</label>
                    {{ form.phone_contact }}
                </div>

                <div class="col-md-4">
                    <label for="start_date" class="text-muted">Fecha de Inicio:</label>
                    {{ form.start_date }}
                </div>

                <div class="col-md-4">
                    <label for="end_date" class="text-muted">Fecha de Fin:</label>
                    {{ form.end_date }}
                </div>

                <div class="col-md-4">
                    <label for="type_service" class="text-muted">Tipo de Servicio:</label>
                    {{ form.type_service }}
                </div>
                <div class="col-md-2 d-flex align-items-center gap-3">
                    <label for="is_active" class="text-muted">Activo:</label>
                    <span>
                      {{ form.is_active }}
                    </span>
                </div>
                <div class="col-md-10">
                    <label for="project_description" class="text-muted">Descripción del Proyecto:</label>
                    {{ form.project_description }}
                </div>
                <div class="col-md-12">
                    <label for="project_description" class="text-muted">Notas:</label>
                    {{ form.notes }}
                </div>
            </div>
        <div class="row bg-gray bg-gradient p-2 rounded border">
            <div class="col text-end">
              <button class="btn btn-sm btn-default">
                Guardar Nuevo
              </button>
            </div>
        </div>
      </form>
    </div>
    </div>
</div>
{% endblock %}
