<form method="POST" action="">
    {% csrf_token %}
    
    <div class="row">
      <!-- Columna 1 -->
      <div class="col-md-4">
        <div class="mb-3">
          <label for="id_technical" class="form-label">Técnico</label>
          <select class="form-select form-control-sm" id="id_technical" name="technical">
            {% for technical in technicals %}
            <option value="{{ technical.id }}">{{ technical.first_name }} {{ technical.last_name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
  
      <!-- Columna 2 -->
      <div class="col-md-4">
        <div class="mb-3">
          <label for="id_type" class="form-label">Tipo</label>
          <select class="form-select form-control-sm" id="id_type" name="type">
            {% for choice in CHOICES %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
  
      <!-- Columna 3 -->
      <div class="col-md-4">
        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input form-control-sm" id="id_is_active" name="is_active">
          <label class="form-check-label" for="id_is_active">Activo?</label>
        </div>
      </div>
    </div>
  
    <div class="row">
      <!-- Columna 1 -->
      <div class="col-md-6">
        <div class="mb-3">
          <label for="id_date_start" class="form-label">Fecha de inicio</label>
          <input type="date" class="form-control form-control-sm" id="id_date_start" name="date_start">
        </div>
      </div>
  
      <!-- Columna 2 -->
      <div class="col-md-6">
        <div class="mb-3">
          <label for="id_date_end" class="form-label">Fecha de fin</label>
          <input type="date" class="form-control form-control-sm" id="id_date_end" name="date_end">
        </div>
      </div>
    </div>
  
    <!-- Línea divisoria entre el formulario y los botones -->
    <hr class="my-4">
  
    <div class="row mt-3">
      <div class="col text-center d-flex justify-content-between">
        <a href="#" class="btn btn-outline-secondary btn-sm">Cancelar</a>
        <button type="submit" class="btn btn-outline-success btn-sm">Guardar</button>
      </div>
    </div>
  </form>
  