<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title_page }}</title>
    <link href="/static/css/libs/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/libs/customicer.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/libs/dataTables.dataTables.min.css">
    <style>
      body {
           background-image: url('/static/img/background.jpg');
           background-size: cover;
           background-position: center;
           background-repeat: no-repeat;
           height: 100vh; /* Asegura que el fondo solo ocupe la altura de la pantalla visible */
           background-attachment: fixed; /* Hace que el fondo no se desplace */
           background-color: rgba(255, 255, 255, 0.4);
           background-blend-mode: overlay;
           font-size: 0.85rem;
 }
   </style>
    {% block style%}
    {% endblock %}
    {% block files_header %}
    {% endblock %}
  </head>
  <body>
    {% if title_page != 'Inicio Sesion' %}
    <nav class="navbar navbar-expand-lg bg-peisol-secondary bg-gradient border-bottom p-0 ">
      <div class="container-fluid">
        <a class="navbar-brand text-sm" href="#">
        <img src="/static/img/logo.png" alt="Logo" width="auto" height="30" class="rounded rounded-3">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <!-- Equipos -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="equiposDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-portable-bathroom" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <rect x="6" y="4" width="12" height="16" rx="2" fill="none" stroke="#000000" />
                  <rect x="9" y="8" width="6" height="9" rx="1" fill="none" stroke="#000000" />
                  <circle cx="12" cy="6" r="0.5" fill="none" stroke="#000000"/>
                  <circle cx="13.5" cy="12" r="0.5" fill="none" stroke="#000000"/>
                  <path d="M6 20h12" fill="none" stroke="#000000" />
                </svg>
                Equipos
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="equiposDropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'equipment_list' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-compact-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M11 4l3 8l-3 8" />
                    </svg>
                    Listar Equipos
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-compact-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M11 4l3 8l-3 8" />
                    </svg>
                  Crear Equipo
                </a>
                </li>
              </ul>
            </li>
            <!-- Tecnicos -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="tecnicosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users-group" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                  <path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" />
                  <path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                  <path d="M17 10h2a2 2 0 0 1 2 2v1" />
                  <path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                  <path d="M3 13v-1a2 2 0 0 1 2 -2h2" />
                </svg>
                Técnicos
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="tecnicosDropdown">
                <li>
                  <a class="dropdown-item" href="#">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-compact-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M11 4l3 8l-3 8" />
                    </svg>
                    Listar Técnicos
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-compact-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M11 4l3 8l-3 8" />
                    </svg>
                    Crear Técnico
                  </a>
                </li>
              </ul>
            </li>
            <!-- Proyectos -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="proyectosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-factory-2" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M3 21h18" />
                  <path d="M5 21v-12l5 4v-4l5 4h4" />
                  <path d="M19 21v-8l-1.436 -9.574a.5 .5 0 0 0 -.495 -.426h-1.145a.5 .5 0 0 0 -.494 .418l-1.43 8.582" />
                  <path d="M9 17h1" />
                  <path d="M14 17h1" />
                </svg>
                Proyectos
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="proyectosDropdown">
                <li>
                  <a class="dropdown-item" href="#">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-compact-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M11 4l3 8l-3 8" />
                    </svg>
                    Listar Proyectos
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-compact-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M11 4l3 8l-3 8" />
                    </svg>
                    Crear Proyecto
                  </a>
                </li>
              </ul>
            </li>
            <!-- Vehículos -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="vehiculosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-truck" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                  <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                  <path d="M5 17h-2v-11a1 1 0 0 1 1 -1h9v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5" />
                </svg>
                Vehículos
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="vehiculosDropdown">
                <li>
                  <a class="dropdown-item" href="#">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-compact-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M11 4l3 8l-3 8" />
                    </svg>
                    Listar Vehículos

                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-compact-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M11 4l3 8l-3 8" />
                    </svg>
                    Crear Vehículo
                  </a>
                </li>
              </ul>
            </li>
            <!-- Planificación -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="planificacionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-month" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" />
                  <path d="M16 3v4" />
                  <path d="M8 3v4" />
                  <path d="M4 11h16" />
                  <path d="M7 14h.013" />
                  <path d="M10.01 14h.005" />
                  <path d="M13.01 14h.005" />
                  <path d="M16.015 14h.005" />
                  <path d="M13.015 17h.005" />
                  <path d="M7.01 17h.005" />
                  <path d="M10.01 17h.005" />
                </svg>
                Planificación
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="planificacionDropdown">
                <li>
                  <a class="dropdown-item" href="#">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-compact-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M11 4l3 8l-3 8" />
                    </svg>
                    Ver Planificación
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-compact-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M11 4l3 8l-3 8" />
                    </svg>
                    Crear Planificación
                  </a>
                </li>
              </ul>
            </li>
            <!-- Reportes -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="reportesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-desktop-analytics" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M3 4m0 1a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1z" />
                  <path d="M7 20h10" />
                  <path d="M9 16v4" />
                  <path d="M15 16v4" />
                  <path d="M9 12v-4" />
                  <path d="M12 12v-1" />
                  <path d="M15 12v-2" />
                  <path d="M12 12v-1" />
                </svg>
                Reportes
              </a>
              <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="reportesDropdown">
                <li>
                  <a class="dropdown-item" href="#">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-compact-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M11 4l3 8l-3 8" />
                    </svg>
                    Reporte de Mantenimiento

                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-compact-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M11 4l3 8l-3 8" />
                    </svg>
                    Reporte de Disponibilidad de Equipos

                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-compact-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M11 4l3 8l-3 8" />
                    </svg>
                    Reporte de Mantenimiento por Equipos

                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-compact-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M11 4l3 8l-3 8" />
                    </svg>
                    Reporte de Proyectos Activos
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-compact-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M11 4l3 8l-3 8" />
                    </svg>
                    Reporte de Técnicos

                  </a>
                </li>
              </ul>
            </li>
            <!-- Salir -->
            <li class="nav-item">
              <a class="btn btn-sm btn-outline-danger" href="/accounts/logout/">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                  <path d="M9 12h12l-3 -3" />
                  <path d="M18 15l3 -3" />
                </svg>
                Salir
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endif %}
      {% if show_alert  %}
      <div class="container-fluid">
        <div class="alert alert-warning" role="alert">
          Esta es una alerta del sistema
        </div>
      </div>
      {% endif %}
      {% if show_toolbar %}
      <div class="container-fluid bordered bg-gray m-1 p-1 mx-auto">
        <div class="row">
          <div class="col">
            Column
          </div>
          <div class="col">
            Column
          </div>
          <div class="col">
            Column
          </div>
        </div>
      </div>
      {% endif %}
        {% block content %}
        {% endblock %}
    {% if title_page != 'Inicio Sesion' %}
    <div class="container-fluid mx-auto border shadow rounded-end bg-secondary px-4">
      <footer class="d-flex flex-wrap justify-content-between align-items-center  mt-auto">
        <p class="col-md-4 mb-0 text-light">©PEISOL S.A Derechos Reservados</p>
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <span class="badge text-bg-secondary text-info">
        Desarrollado por eduardo@dev-7.com
        </span>
        </a>
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-light">
               <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-compact-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M11 4l3 8l-3 8" />
                    </svg>
            Inicio
          </a>
        </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-light">
               <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-compact-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M11 4l3 8l-3 8" />
                    </svg>
            Proyectos
          </a>
        </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-light">
               <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-compact-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M11 4l3 8l-3 8" />
                    </svg>
            Reportes
          </a>
        </li>
        </ul>
      </footer>
    </div>
    {% endif %}
    <script src="/static/js/libs/jquery-3.7.1.min.js"></script>
    <script src="/static/js/libs/dataTables.min.js" ></script>
    <script src="/static/js/libs/bootstrap.bundle.min.js"></script>
    <script>
     $(document).ready(function() {
    $('#myTable').DataTable(      
      {
        "pageLength": 15,
        "lengthMenu": [15, 25, 50 ,100, 500, 1000, 5000],
        "language": {
          "lengthMenu": "_MENU_ registros por página",
          "zeroRecords": "Sin registros",
          "info": "Mostrando página _PAGE_ de _PAGES_",
          "infoEmpty": "Sin registros",
          "infoFiltered": "(filtrado de _MAX_ registros totales)",
          "search": "Buscar:",
          "paginate": {
            "first": "Primero",
            "last": "Último",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        }
      }
    );
  });
    </script>
    {% block files_footer %}
    {% endblock %}
    {% block script %}
    {% endblock %}
  </body>
</html>
