{% extends 'base/base.html' %}
{% block content %}
<div class="container container-xl mx-auto mt-3 mb-3 border shadow rounded bg-opacity-50 m-2 p-2">
        <div class="d-flex justify-content-between">
        <span class="text-primary">
            {{ title_section }}
        </span>
        {% if action %}
        <span class="bg-peisol-secondary bg-gradient p-2 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                <path d="M9 12l2 2l4 -4" />
              </svg>
            {{ message }}
        </span>
        {% endif %}
        <a href="{% url 'equipment_create' %}" class="btn btn-sm btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg>
            Agregar Equipo
        </a>
    </div>
    </div>
    <div class="container container-xl mx-auto">
        <table class="table table-bordered table-striped" id="myTable">
            <thead>
            <tr>
                <th class="bg-secondary bg-opacity-25">#</th>
                <th class="bg-secondary bg-opacity-25">Codigo</th>
                <th class="bg-secondary bg-opacity-25">Tipo</th>
                <th class="bg-secondary bg-opacity-25">Marca</th>
                <th class="bg-secondary bg-opacity-25">Modelo</th>                
                <th class="bg-secondary bg-opacity-25">Estado</th>
                <th class="bg-secondary bg-opacity-25">Activo</th>
                <th class="bg-secondary bg-opacity-25">Ubicación</th>
                <th class="bg-secondary bg-opacity-25">Proyecto</th>
                <th class="bg-secondary bg-opacity-25">Fecha Liberación</th>
            </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                <tr>
                    <td class="p-0 d-flex justify-content-start gap-3">
                        <a href="/equipos/{{ item.id }}/" class="text-primary d-flex justify-content-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-crosshair" width="15" height="15" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M4 8v-2a2 2 0 0 1 2 -2h2" />
                                <path d="M4 16v2a2 2 0 0 0 2 2h2" />
                                <path d="M16 4h2a2 2 0 0 1 2 2v2" />
                                <path d="M16 20h2a2 2 0 0 0 2 -2v-2" />
                                <path d="M9 12l6 0" />
                                <path d="M12 9l0 6" />
                              </svg>
                            {{ forloop.counter }}
                        </a>
                    </td>
                    <td class="p-0">
                        {% if item.is_active  %}
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="15" height="15" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                            <path d="M9 12l2 2l4 -4" />
                          </svg>
                          {% else %}
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-triangle" width="15" height="15" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 9v4" />
                            <path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" />
                            <path d="M12 16h.01" />
                          </svg>
                          {% endif %}
                        {{ item.code }}
                    </td>
                    <td class="p-0">{{ item.name }}</td>
                    <td class="p-0">{{ item.brand }}</td>
                    <td class="p-0">{% if item.model %} {{ item.model }} {% endif %}</td>
                    <td class="p-0">{{ item.status }}</td>
                    <td class="p-0">{{ item.is_active }}</td>
                    <td class="p-0">{{ item.bg_current_location }}</td>
                    <td class="p-0">{{ item.bg_current_project }}</td>
                    <td class="p-0">
                        {% if item.bg_date_free  %}
                            {{ item.bg_date_free }}
                            {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
