{% extends 'base/base.html' %}
{% block content %}
<div class="container container-lg mx-auto mt-3 mb-3 border shadow rounded bg-opacity-50 m-2 p-2">
        <div class="d-flex justify-content-between">
        <span class="text-primary">
            {{ title_section }}
        </span>
        {% if action %}
        <span class="bg-peisol-secondary bg-gradient p-2 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                <path d="M9 12l2 2l4 -4" />
              </svg>
            {{ message }}
        </span>
        {% endif %}
        <a href="{% url 'partner_create' %}" class="btn btn-sm btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg>
            Agregar Socio de Negocio
        </a>
    </div>
</div>
<div class="container container-lg mx-auto">
    <table class="table table-bordered table-striped" id="myTable">
        <thead>
        <tr>
            <th class="bg-secondary bg-opacity-25">#</th>
            <th class="bg-secondary bg-opacity-25">Nombre</th>
            <th class="bg-secondary bg-opacity-25">Correo Electrónico</th>
            <th class="bg-secondary bg-opacity-25">Teléfono</th>                
            <th class="bg-secondary bg-opacity-25">Contacto</th>
        </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                <td class="p-0 d-flex justify-content-start gap-3">
                    <a href="/socios/{{ item.id }}/" class="text-primary d-flex justify-content-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-crosshair" width="15" height="15" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M4 8v-2a2 2 0 0 1 2 -2h2" />
                            <path d="M4 16v2a2 2 0 0 0 2 2h2" />
                            <path d="M16 4h2a2 2 0 0 1 2 2v2" />
                            <path d="M16 20h2a2 2 0 0 0 2 -2v-2" />
                            <path d="M9 12l6 0" />
                            <path d="M12 9l0 6" />
                          </svg>
                        {{ forloop.counter }}
                    </a>
                </td>
                <td class="p-0">{{ item.name }}</td>
                <td class="p-0">{{ item.email }}</td>
                <td class="p-0">{{ item.phone }}</td>
                <td class="p-0">
                    {% if item.name_contact  %}
                        {{ item.name_contact }}
                    {% endif %}
                </td>  
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
