{% extends 'base/base.html' %}
{% block content %}
<div class="container-xl mx-auto mt-3 mb-3 border shadow rounded bg-opacity-50 m-2 p-2">
    <div class="d-flex justify-content-between">
        <span class="text-primary">
            {{ title_section|default:"Listado de Clientes" }}
        </span>
        <a href="{% url 'partner_create' %}" class="btn btn-sm btn-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24V0H0z" fill="none"/>
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
            </svg>
            Agregar Cliente
        </a>
    </div>
</div>
<div class="w-[90%] mx-auto">
    <table id="datatable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="bg-indigo-400 bg-opacity-75 text-gray-600">#</th>
                <th class="bg-indigo-400 bg-opacity-75 text-gray-600">RUC</th>
                <th class="bg-indigo-400 bg-opacity-75 text-gray-600">Nombre</th>
                <th class="bg-indigo-400 bg-opacity-75 text-gray-600">Email</th>
                <th class="bg-indigo-400 bg-opacity-75 text-gray-600">Teléfono</th>
                <th class="bg-indigo-400 bg-opacity-75 text-gray-600 no-export">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td class="text-center">{{ item.business_tax_id }}</td>
                <td class="text-center">{{ item.name }}</td>
                <td class="text-center">{{ item.email }}</td>
                <td class="text-center">{{ item.phone }}</td>
                <td class="text-center">
                    <a href="{% url 'partner_detail' item.id %}" class="btn btn-xs btn-info">Ver</a>
                    <a href="{% url 'partner_update' item.id %}" class="btn btn-xs btn-warning">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
