{% extends 'base/base.html' %}
{% block content %}
<div class="container-xl mx-auto mt-3 mb-3 border shadow rounded bg-opacity-50 m-2 p-2">
    <div class="d-flex justify-content-between">
        <span class="text-primary">
            {{ title_section|default:"Listado de Proyectos" }}
        </span>
        <a href="{% url 'project_create' %}" class="btn btn-sm btn-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24V0H0z" fill="none"/>
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
            </svg>
            Agregar Proyecto
        </a>
    </div>
</div>
<div class="w-[95%] mx-auto overflow-x-auto">
    <table id="datatable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="bg-pink-400 bg-opacity-75 text-gray-600 hidden md:table-cell">#</th>
                <th class="bg-pink-400 bg-opacity-75 text-gray-600">ID Proyecto</th>
                <th class="bg-pink-400 bg-opacity-75 text-gray-600 hidden md:table-cell">Cliente</th>
                <th class="bg-pink-400 bg-opacity-75 text-gray-600 hidden md:table-cell">Lugar</th>
                <th class="bg-pink-400 bg-opacity-75 text-gray-600 hidden md:table-cell">Fecha Inicio</th>
                <th class="bg-pink-400 bg-opacity-75 text-gray-600 hidden md:table-cell">Fecha Fin</th>
                <th class="bg-pink-400 bg-opacity-75 text-gray-600">Estado</th>
                <th class="bg-pink-400 bg-opacity-75 text-gray-600 no-export hidden md:table-cell">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                <td class="text-center hidden md:table-cell">{{ forloop.counter }}</td>
                <td class="text-center">
                    <a href="{% url 'project_detail' item.id %}" class="link link-hover text-primary md:hidden">{{ item.id }}</a>
                    <span class="hidden md:inline">{{ item.id }}</span>
                </td>
                <td class="text-center hidden md:table-cell">{{ item.partner }}</td>
                <td class="text-center hidden md:table-cell">{{ item.place }}</td>
                <td class="text-center hidden md:table-cell">{{ item.start_date }}</td>
                <td class="text-center hidden md:table-cell">{{ item.end_date }}</td>
                <td class="text-center">{% if item.is_active %}Activo{% else %}Inactivo{% endif %}</td>
                <td class="text-center hidden md:table-cell">
                    <a href="{% url 'project_detail' item.id %}" class="btn btn-xs btn-info">Ver</a>
                    <a href="{% url 'project_update' item.id %}" class="btn btn-xs btn-warning">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
