{% extends 'base/base.html' %}
{% block content %}
<div class="container-xl mx-auto mt-3 mb-3 border shadow rounded bg-opacity-50 m-2 p-2">
    <div class="d-flex justify-content-between">
        <span class="text-primary">
            {{ title_section|default:"Listado de Vehículos" }}
        </span>
        <a href="{% url 'vehicle_create' %}" class="btn btn-sm btn-default">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#555555" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24V0H0z" fill="none"/>
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
            </svg>
            Agregar Vehículo
        </a>
    </div>
</div>
<div class="w-[90%] mx-auto">
    <table id="datatable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="bg-green-400 bg-opacity-75 text-gray-600">#</th>
                <th class="bg-green-400 bg-opacity-75 text-gray-600">Código</th>
                <th class="bg-green-400 bg-opacity-75 text-gray-600">Marca</th>
                <th class="bg-green-400 bg-opacity-75 text-gray-600">Modelo</th>
                <th class="bg-green-400 bg-opacity-75 text-gray-600">Placa</th>
                <th class="bg-green-400 bg-opacity-75 text-gray-600">Propietario</th>
                <th class="bg-green-400 bg-opacity-75 text-gray-600">Estado</th>
                <th class="bg-green-400 bg-opacity-75 text-gray-600 no-export">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td class="text-center">{{ item.code_vehicle }}</td>
                <td class="text-center">{{ item.brand }}</td>
                <td class="text-center">{{ item.model|default_if_none:"" }}</td>
                <td class="text-center">{{ item.no_plate|default_if_none:"" }}</td>
                <td class="text-center">{{ item.get_owner_transport_display }}</td>
                <td class="text-center">{% if item.is_active %}Activo{% else %}Inactivo{% endif %}</td>
                <td class="text-center">
                    <a href="{% url 'vehicle_detail' item.id %}" class="btn btn-xs btn-info">Ver</a>
                    <a href="{% url 'vehicle_update' item.id %}" class="btn btn-xs btn-warning">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
