{% extends 'base/base.html' %}
{% block content %}
<div class="overflow-x-auto">
<table class="table table-xs table-pin-rows table-pin-cols" id="myTable">
  <thead>
    <tr class="text-teal-600">
        <th class="text-center">Code</th>
        <th>Name</th>
        <th>Type</th>
        <th>Level</th>
        <th>Parent</th>
    </tr>
</thead>
<tbody>
    {% for item in object_list %}
    <tr>
        <td>
            <div class="flex justify-between">
            <a href="/accounting/account/{{ item.id}}">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrows-maximize" width="20" height="20" viewBox="0 0 20 20" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M16 4l4 0l0 4" />
                    <path d="M14 10l6 -6" />
                    <path d="M8 20l-4 0l0 -4" />
                    <path d="M4 20l6 -6" />
                    <path d="M16 20l4 0l0 -4" />
                    <path d="M14 14l6 6" />
                    <path d="M8 4l-4 0l0 4" />
                    <path d="M4 4l6 6" />
                  </svg>
            </a>
            <span>                
                {{ item.code }}
            </span>
        </div>
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.type }}</td>
        <td>Level{{ item.level }}</td>
        <td>
            {% if item.parent_account.code %}
            <span class="badge bg-gray-200 border border-gray-500 text-xs">
                {{ item.parent_account.code }}
            </span>
            {{ item.parent_account.name}}
            {% else %}
            <span class="text-gray-400">
                --
            </span>    
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
  {% endblock content %}